html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}
body{
	background: url( 'bg.jpg') center;
	background-size: cover;

}
#f_holder{
	position: fixed;
	bottom: 0;
	background: pink;
	height: 10vh;
	width: 60%;
	padding: 0 0 0 5%;
	box-sizing: border-box;
	font-size: 2em;	

}
#o_holder{
	position: fixed;
	bottom: 0;
	right: 0;
	background: orange;
	height: 10vh;
	width: 40%;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
	font-size: 2em;	

}

.in{
	float: left;
	height: 100%;
	font-size: inherit;	
}

.button{
	float: right;
	width: 33%;
	font-size: inherit;	

}

.text{
	border: none;
	width: 6%; /* change to %*/
	padding: 0 .5em 0 .5em;
	background: inherit;
	font-size: inherit;	
}

select{
	border: none;
	width: 3em;
	background: inherit;
	font-size: inherit;	
	text-align: right	;
}

.input{
	border: none;
	width: 20%;
	padding: 0 .5em 0 .5em;
	font-size: inherit;	
}

#n-input{
	width: 8%;
}
#container{
  padding-top: calc( 50vh - (35vw + 10vh)/2);
  position: absolute;
	left: 32.5vw; 
	width: 35vw;
	height: 35vw;	
}


.tile{
	float: left;
}

@media only screen and (max-width: 480px) {
#container{
  left: 0;
	padding: 0;
	width: 100vw;
  height: 100vw;

}
body{
font-size: 80%;

}
#f_holder{
	height: 10%;
	width: 100%;
}

#o_holder{
	bottom: 10%;
	width: 100%;
}
.button{
	float: right;
}
.text{
	border: none;
	width: 2%; /* change to %*/
	padding: 0 .5em 0 .5em;
	background: inherit;
	font-size: inherit;	
}

.in{
	float: left;
	height: 100%;
	font-size: inherit;	
}

}


